.topHeader
  .headerInner
    .mainheader
      %h1.icon
        = link_to image_tag("logo.png"),root_path
        
      .search-box
        %form{"accept-charset": "UTF-8", action: "#", method: "get"}
          %input{name:  "utf8", type: "hidden", value: "✓"}/
          %input#searchInput.searchBox--input{name: "key", placeholder: "キーワードから探す"}/
          %button{type: "submit"}
            .search-item
              = image_tag 'icon-search 1.png'
            %input{name: "authenticity_token", type: "hidden", value: "+Z5TWFAnhn4nyERwyq8tGeL24RWLf6d/DXQga++bhRyXAu8YJ5uoGBiBOvHimDNE1x9srYXVjnFOgiOPbUdCzQ=="}/
    .top-nav
      .listleft
        .listleft-item1
        = link_to "カテゴリー"
        .listleft-item2
        = link_to "ブランド"
      .listright
        - if user_signed_in?
          = link_to "マイページ", user_path(current_user)
        - else
          = link_to "ログイン",new_user_session_path(@new_user_session), class: "listright-item1"
          = link_to "新規会員登録",new_user_registration_path, class: "listright-item2"
