-# edit
= render 'newhead'
.EXhibition
  %section.EXhibision-main
    = form_for @item do |f|
      .EXhibision-title
        商品の編集
      .EXhibision-header
        .EXsell__block__form__upload
          %h3.EXsell__block__form__upload__head
            出品画像
            %span.require 必須
          %br.count 最大5枚までアップロードできます
          .post__drop__box__container
            .prev-content
              //JSで挿入したhtmlと同じ形each文でのプレビュー表示
              - @item.item_images.each_with_index do |image, i|
                .preview-box
                  .upper-box
                    = image_tag(image.image_url.url, width: "112", height: "112", alt: "preview", date:{index:i})
              
              %label(for="edit-or-destroy__btn")
                .lower-box#edit-or-destroy__btn
                  = f.fields_for :item_images do |i|
                    .update-box
                      = i.label :image_url do
                        .edit-btn 編集
                        = i.file_field :image_url, class: "hidden-field test", id: "item_images_attributes_#{i.index}_image"
                    .delete-box
                      = i.label :_destroy, class: "delete_btn" do
                        %span 削除
                        = i.check_box :_destroy, class: "hidden-checkbox"
            .label-content
              //プレビューの数に合わせてforオプションを指
              %label{for: "item_images_attributes_#{@item.item_images.length}_image", class: "label-box", id: "label-box--#{@item.item_images.length}"}
                %label.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              - @item.item_images.length.upto(4) do |i|
                %input{name: "item[item_images_attributes][#{i}][image_url]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
               
        .EXsell__block__form__name
          %span.font 商品名
          %span.botan 必須
          %p.butween
          = f.text_field :name, placeholder:"40文字まで",class:"chat-group-form__input",id:"user-search-field",style:"width:96%;padding:10px 16px 8px;font-size: 16px"
          %p.top
          %br
          %span.font 商品の説明
          %span.botan 必須
          %p.butween
          = f.text_area :text, class:"wide",cols: "60",rows:"6",style:"width:98%",placeholder: "商品の説明（必須1,000文字以内) (色、素材、重さ、定価、注意点など)                                                       例）2010年頃に385万円で購入したものです。まあ買いたければ買ったら? "
          %p.iine
        .exhibition-main__details
          .exhibition-main__details__left
            %span.title 商品の詳細
          .exhibition-main__details__right
            %p
            %span.font カテゴリー
            %span.botan 必須
            %p.top
            = f.fields_for :category do |category|
              = category.collection_select(:name, @categories, :name, :name, prompt: "---")
            %p.bottom
              %span.font 商品の状態
              %span.botan 必須
              %p.top
              = f.collection_select :condition_id, Condition.all, :id, :name, prompt: "選択して下さい"
        .exhibision-main__shipping
          = f.fields_for :shipping do |a|
            .exhibision-main__shipping__left
            %span 配送について
            %a.form-question{:href => "/jp/help_center/article/68/", :target => "_blank"} ?
            %p
            .exhibision-main__shipping__right
              %span.font 配送料の負担
              %span.botan 必須
              %p.top
              = a.collection_select :delivery_fee_id, DeliveryFee.all, :id, :name, prompt: "選択して下さい", class: "hutan"
              %p.bottom
              %span.font 発送先の地域
              %span.botan 必須
              %p.top
              = a.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, prompt: "---", class: "tiiki"
              %p.bottom
              %span.font 発送までの日数
              %span.botan 必須
              %p.top
              = a.collection_select :delivery_handlingtime_id, DeliveryHandlingtime.all, :id, :name, prompt: "---", class: "day"
        .exhibision-main__price
          .exhibision-main__price__left
            %span.value 販売価格  (¥300〜9,999,999)
            %a.form-question{:href => "/jp/help_center/article/68/", :target => "_blank"} ?
          .exhibision-main__price__right
            .exhibision-main__price__right__top
              .exhibision-main__price__right__font
                %span.font 価格
                %span.botan 必須
              .exhibision-main__price__right__input 
                %span ¥
                = f.number_field :price, class:"chat-group-form__input",id:"user-search-field",style:"width:75%;padding:10px 16px 8px;font-size: 16px"
            .exhibision-main__price__right__commission
              %span.fee 販売手数料(10%)
              %span.ten -
            .exhibision-main__price__right__profit  
              %span.profit 販売利益
              %span.hutoten -
              %p
        .EXhibision-main__footer__center
          = f.submit "編集する", class:"uru",data:{confirm: "本当に編集しますか？"}
          %br
          %input.back{:type => "submit", :value => "もどる"}/ 
        .EXhibision-main__footer
          %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして加盟店規約に同意したことになります。
  .exhibision__bottom
    = render "newfooter"