.shows
  = render 'newhead'
  .show
    .show__top
      = @item.name
    .show__image
      = image_tag @item_images[0].image_url
    .show__images
      %ul
        %li
        - @item_images.each do |item|
          = image_tag item.image_url, size:"140x87"
    .show__price
      %span
      ¥
      = @item.price
      円
    .show__tax
      %span（税込)
      %span 送料込み
    .show__text
      = simple_format(@item.text)
    .show__details
      %table
        %tr
          %th 出品者
          %td 
            = @item.saler.nickname
        %tr
          %th カテゴリー
        %tr
          %th 商品状態
          %td
            = @shipping.fee_burden
        %tr
          %th 発送料の負担
          %td
            = @shipping.fee_burden
        %tr
          %th 発送元の地域
          %td 
            = link_to @shipping.area, "#", class: "show__area"
        %tr
          %th 発送日の目安
          %td
            = @shipping.handling_time
    .show__option
      %ul
        %li
          = link_to "★ お気に入り 1", "#", class: "show__option__like"
        %li
          = link_to "購入画面に進む", "pay_purchase_index_path", class: "show__option__report"

  .show__comments
    %textarea.show__comments__text
    .show__comments__notice
      相手のことを考え丁寧なコメントをしましょう
      %br
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .show__comments__btn 
      %button.show__comments__btn__i
        コメントする
  .show__bottom
    .show__bottom__next
      = link_to "<前の商品", root_path, class: "show__bottom__next__left"
      = link_to "後ろの商品>", "#", class: "show__bottom__next__right"
    .show__bottom__lists
      = link_to "メンズをもっと見る", "#", class: "show__bottom__lists__list"

  .exhibision-btn
    .exhibision-btn__item
      出品する
      = link_to image_tag("icon_camera.png", size: "54x54", class: "footer__icon")
  .exhibision-footer
    = render "showfooter"
